:root {
    --main-color: #ad3939;
}

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 5vh;
    font-size: 50px;
    color: black;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: url(https://cdn.pixabay.com/photo/2017/09/22/23/57/fire-2777580_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-user {
    width: 5vw;
    height: 5vw;
    display: block;
    position: relative;
    top: 50px;
    background-color: var(--main-color);
    border-radius: 100px;
    text-align: center;
    line-height: 5vw;
    font-size: 60px;
}

form {
    width: 75%;
    height: 75%;
    padding-bottom: 30px;
    background-color: rgba(100%, 100%, 100%, 25%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.login {
    width: 80%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: gray;
    padding-left: 10px;
    font-size: 30px;
    box-shadow: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

input {
    border-radius: 10px;
    border: 0px solid;
}

button {
    width: 80%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    background: var(--main-color);
    border-radius: 10px;
    border: none;
    font-size: 30px;
}

.line {
    display: block;
    background-color: white;
    width: 25%;
    height: 3px;
    margin-top: 3vw;
    margin-bottom: 1vw;
}

.last-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hidden {
    opacity: 0;
}